{% extends 'templates/main.twig' %}

{% block content %}
  <div class="starter-template">
    <h1>Page d'accueil formateur</h1>
    <p class="lead">Normalement on est dans la session formateur</p>
  </div>
{% endblock %}