{% extends 'templates/main.twig' %}

{% block content %}
  <div class="starter-template">
    <h1>Page d'accueil stagiaire</h1>
    <p class="lead">Normalement tout devrait fonctionner, on se trouve là sur la page d'accueil du stagiaire.</p>
  </div>
{% endblock %}
