<div class="row">
    <div class="col-md-8 col-md-offset-2">
      <ul class="nav nav-pills nav-admin">
        <li role="presentation"><a href="{{ path_for('formateur.index') }}">Liste des stagiaires</a></li>
        <li role="presentation"><a href="{{ path_for('admin.user.add') }}">Liste des modules</a></li>
        <li role="presentation"><a href="#">Historique</a></li>
      </ul>
    </div>
  </div>
  